
Ballot Bash/Library/shadercompiler-UnityShaderCompiler.exe0.log
Ballot Bash/Library/expandedItems
Ballot Bash/Library/CurrentMaximizeLayout.dwlt
Ballot Bash/Library/CurrentLayout-default.dwlt
Ballot Bash/Library/assetDatabase3
Ballot Bash/Assembly-CSharp.csproj
Ballot Bash/.vs/Ballot Bash/v15/Server/sqlite3/storage.ide-wal
Ballot Bash/.vs/Ballot Bash/v15/.suo
Ballot Bash/.vs/Ballot Bash/v15/Server/sqlite3/storage.ide-shm
